# Puerto para el servidor de la API
PORT=3000

# Nombre de la base de datos que se creará
DB_DATABASE=

# Credenciales para la conexión desde la API
# NOTA: DB_HOST no es necesario aquí, se define en docker-compose.yml como 'db'
DB_USER=
DB_PASSWORD=

# Contraseña de superusuario (root) para el contenedor de MySQL
DB_ROOT_PASSWORD=

# Puerto en la máquina host que se mapeará al puerto de la base de datos
DB_PORT=
