# Puerto para el servidor de la API
PORT=3001
# Nombre de la base de datos que se creará
DB_DATABASE=loromon_db

# Credenciales para la conexión desde la API
# NOTA: DB_HOST no es necesario aquí, se define en docker-compose.yml como 'db'
DB_USER=loromon_user
DB_PASSWORD=loromon_password_123/

# Contraseña de superusuario (root) para el contenedor de MySQL
DB_ROOT_PASSWORD=qwerty123/*-

# Puerto en la máquina host que se mapeará al puerto de la base de datos
DB_PORT=3306

# Secreto para la generación de tokens JWT
JWT_SECRET=tu_secreto_super_seguro_aqui
